
body {
    /* background-color: rgb(29, 87, 25); */
    background-image: url(imagenprudy/smooth-green-background_53876-108464.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-image: url(imagenprudy/blurred-pictur-grees-grass-morning-background_43907-56.avif);
    /* background-color: rgb(15, 110, 62); */
    width: 100%;
}
h1 {
    font-size: 200%;
}
.nav-list {
    display: flex;
    gap: 5vw;
    width: 80%;
}
a {
    color: #ffffff;
}
ul {
    list-style: none;
}
h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.razryv {
    height:100px;
}
.razryv1 {
    height:0px;
}
.photo1 {
    float:left; 
    width:30%;
}
.photo2 {
    float:right; 
    width:30%;
}
.art1 {
    display: inline-block;
    width:85%;
    vertical-align: middle;
    padding: 10px 5%;
    text-align: center;
}
.nomer {
    background-color: rgb(212, 212, 99);
    color: rgb(8, 32, 5);
    width: 80%;
}
p {
    margin: 4px 4px 4px 0; 
    width:100%; 
    height:100%;
    font-size: 150%;
    color: #ffffff;
}
.final {
    padding:10% 20%;
    background-image: url(imagenprudy/blurred-pictur-grees-grass-morning-background_43907-56.avif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.final>div {
    width: 100%;
   padding: 5px;
    background-color: white;
    font-size:30px;
    text-align: center;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
}
footer {
    background-color:black;
    padding:10px 0;
    text-align: center;
    color:white;
}
@media (max-width: 1200px){ 
    .art1 {
        width: 60%;
        padding: 30px 10%;
        justify-content: center;
    }
    img {
        width: 100%;
    }
    .razryv1{
        height:200px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: medium;
    }
} 
@media(max-width: 1025px){
    .art1 {
        width: 70%;
        padding: 35px 15%;
        justify-content: center;
    }
    img {
        width: 100%;
    }
    .razryv1{
        height:0px;
    }
    .photo1 {
        width: 40%;
    } 
    .photo2 {
        width: 40%;
    } 
    p {
        width: 50%;
        font-size: medium;
    }
}
@media (max-width: 950px){ 
    .art1 {
        display: flex;
        flex-direction: column-reverse;
        width: 65%;
        padding: 30px 15%;
        justify-content: center;
    }
    img {
        width: 200%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: larger;
    }
}
@media (max-width: 850px){ 
    nav {
        width: 100%;
    }
    
   .art1 {
        width: 65%;
        padding: 30px 15%;
        justify-content: center;
    }
    img {
        width: 200%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: larger;
    }
}
@media (max-width: 700px){ 
    .art1 {
        width: 65%;
        justify-content: center;
    }
    img {
        width: 210%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: larger;
    }
    h1 {
        font-size: 150%;
    }
    .final>div {
        font-size: 25px;
    }
}
@media (max-width: 500px){ 
    .art1 {
        width: 60%;
        padding: 30px 10%;
        justify-content: center;
    }
    img {
        width: 250%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: medium;
    }
    h1 {
        font-size: 150%;
    }
    .nav-list {
        display: block;
    }
    .final>div {
        font-size: 20px;
    }
} 
@media (max-width: 400px){ 
    .art1 {
        width: 65%;
        padding: 30px 10%;
        justify-content: center;
    }
    img {
        width: 250%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: larger;
    }
    h1 {
        font-size: 150%;
    }
    .nav-list {
        font-size: small;
    }
    .final {
        padding: 10% 10%;
    }
} 
@media (max-width: 300px){ 
    .art1 {
        width: 60%;
        padding: 30px 10%;
        justify-content: center;
    }
    img {
        width: 250%;
    }
    .razryv1{
        height:100px;
    }
    .photo1 {
        width: 50%;
    } 
    .photo2 {
        width: 50%;
    } 
    p {
        width: 200%;
        font-size: medium;
    }
    h1 {
        font-size: 150%;
    }
    .nav-list {
        display: block;
    }
    .final>div {
        font-size: 15px;
    }
} 
